<div class="row">

  <div class="small-6 small-centered column">

  	<h2>Conversations en cours</h2>

  	<%if current_user.mailbox.conversations.any?%>
  	
		<%@conversations.each do |conv|%>
		    <div class="ligne_conversation">
		    <ul>
		    	<%= link_to conversation_path(conv.id) do%>
			        <li>
			        	<%correspondant=conv.participants.find do |u|%>
  								<%u.id != current_user.id%>
						<% end %>

			        	<%=image_tag correspondant.avatar.url(:thumb) %>
			        	<%=correspondant.name%>			        
			        	<%=conv.messages.last.body%>
			        </li>
			    <% end %>
		    </ul></div>
		<% end %>
		
	<%else%>
		<p>Pas de message pour l'instant</p>
	<%end%>	
	<br/>

  	<a href="/messages/new" class="button">Nouveau message</a>
  	
  </div>

</div>