<div class="row">

  <div class="small-6 small-centered column">

  	<h2>Conversations en cours</h2>

  	<%if current_user.mailbox.conversations.any? then%>
  	
		<%@conversations.each do |participant|%>
		    <div class="ligne_conversation">
		    <ul>
		    	<a href="conversations/<%=participant.id%>">
			        <li>
			        	<%=image_tag participant.messages.last.sender.avatar.url(:thumb) %>
			        	<%=participant.messages.last.sender.name%>			        
			        	<%=participant.messages.last.body%>
			        </li>
		        </a>
		    </ul></div>
		<% end %>
	<%else%>
		<p>Pas de message pour l'instant</p>
	<%end%>	
	<br/>

  	<a href="/messages/new" class="button">Nouveau message</a>
  	
  </div>

</div>