<div class="row">

  <div class="small-6 small-centered column">

  	<h1>Boite mail</h1>

  	<%= current_user.mailbox.inbox %>

  	<a href="/messages/new" class="button">Nouveau message</a>
  	
  </div>

</div>