<div class="row">

  <div class="small-6 small-centered column">

  	<h2>Conversations en cours</h2>

  	<%if current_user.mailbox.conversations.any? then%>
  	
  	
	  	<%all_conv = current_user.mailbox.conversations%>
		<%all_conv.each do |participant|%>
		    <div class="ligne_conversation">
		    <tr>
		    	<a href="conversations/<%=@conversation_id%>">
			        <td>
			        	<%=participant.messages.last.sender.name%>
			        </td>
			        <td><%=participant.messages.last.body%>
			        </td>
		        </a>
		   </tr></div>
		<% end %>
	<%else%>
		<p>Pas de message pour l'instant</p>
	<%end%>	
	<br/>

  	<a href="/messages/new" class="button">Nouveau message</a>
  	
  </div>

</div>