<div class="row">

  <div class="small-6 small-centered column">

 	<% receipts = @conversation.receipts_for current_user %>

	<%receipts.each do |receipt|%>
		<%message = receipt.message%>
		<%= image_tag message.sender.avatar.url(:thumb) %> 
		<%= message.body %>
	<%end%>
  
  </div>

 </div>
