<div class="row">
	<div class="small-6 columns">
		<h1>DATAS</h1>
		<p>Liste des contacts de <%=current_user.name%></p>
		<ul>
			<% for user in @user.targets %>
			    <li><%= link_to(user) do %>
			  		<%= image_tag user.avatar.url(:thumb) %>
			   		<%= user.name %><%end%>
			   	</li>
			<% end %> 
		</ul> 
	</div>
</div>
