<div class="row">

  <div class="small-6 small-centered column">

    <div class="form">

      <%= form_for current_user do |f| %>

        <div class="avatar">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>

        <div class="submit">
          <%= f.submit %>
        </div>

      <% end %>
    </div>

  </div>

</div>