<%= form_for(@micropost) do |f| %>
  <div class="field">
  	<div class="row collapse">
        <div class="small-10 columns">
		    <%= f.text_field :content, placeholder: "Humeur du jour" %>
		</div>
		<div class="small-2 columns">
		    <%= f.submit "ok", class: "button postfix" %>
		</div>
  	</div>
  </div>
<% end %>