@import 'foundation-icons';

/*variables scss*/


/*customization des éléments foundation*/

.button {
	background-color: #35318F;
}

.row {
	max-width: none
}

/*layout*/

.isu {
	width:150px;
	height:1000px;
	background:#F2F2F2;
	border: 1px #D8D8D8 solid;
	/*position:fixed;*/
	margin-top:70px;
}

/*style temporaires pour la période de dev */

.samplecontainer {
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
}

.samplecontainer h1 {
  color: #C91010;
  font-weight: bold;
}

/*header*/

.top-bar {
	height: 50px;
}

.iconenav {
	font-size: 1.8em;
	margin-right: 5px;
	}

.top-bar p {
	color: #E6B3B3;
	margin-top: 10px
}

.info_connexion {
	margin-top: 80px;
	margin-bottom: 0px;
}

	/* footer */

footer {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

/*page profil*/

ul {
	list-style: none;
}

h3 {
	margin-top: 20px;
}

.photo_profil_principale {
	text-align: center;
}

.annonce {
	height: 300px
}

.bloc_pseudo {
	margin-top: 40px;
	margin-bottom: 40px;
}

.update {
	margin-top: 40px;
}

.bloc_statut {
	margin-top: 40px;
	/*margin-bottom: 40px;*/
}

.bloc_info {
	border: 1px solid black;
	padding: 5px;
	margin-top: 10px
}

.gouts_culturels {
}

.bloc_gc {
	height: 150px
}

.titre_gc {
	font-size: 1.2em;
	font-style: italic;
}

.badges .row {
	margin-top: 30px;
} 
.badges i {
	font-size: 3.5em;
}

.badge_item {
	text-align: center;
}

.tests {
	margin-bottom: 30px;
}

.tests .row {
	margin-top: 20px;
} 



.tests i {
	font-size: 5em;

}

/*pb alignement test*/
.tests .columns {
	/*display: inline-block;
	vertical-align: center;*/
}

/*pb alignement notes*/

.notes i {
	/*padding-top: 5px;*/
}

.notes h3 {
	margin-bottom: 30px;
}


.contenu iframe {
	margin-top: 20px;
}

/*page recherche*/

.list_users {
	margin-top: 10px;
}

/*home page*/

.home h1 {
  color: #C91010;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px
}

.home h3 {
	margin-bottom: 50px
}

/*flux*/

.statut_home {
	font-size: 1.5em;
	font-style: italic;
}

.pseudo_feed_home {
	font-size: 1.2em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.photo_feed_home {
	text-align: center;
}