@import 'foundation-icons';

/*variables scss*/

$lightGray: #F2F2F2;
$GrayBord: #D8D8D8;

/*customization des éléments foundation*/

.button {
	background-color: #35318F;
}

.row {
	max-width: none
}

/*layout*/

.isu {
	width:150px;
	height:1000px;
	background:$lightGray;
	border: 1px $GrayBord solid;
	/*position:fixed;*/
	margin-top:50px;
}

/*style temporaires pour la période de dev */

.samplecontainer {
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
}

.samplecontainer h1 {
  color: #C91010;
  font-weight: bold;
}

/*header*/

.top-bar {
	height: 50px;
}

.iconenav {
	font-size: 1.8em;
	margin-right: 5px;
	}

.top-bar p {
	color: #E6B3B3;
	margin-top: 10px
}

.info_connexion {
	margin-top: 80px;
	margin-bottom: 0px;
}

	/* footer */

footer {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

/*page profil*/

ul {
	list-style: none;
}

h3 {
	margin-top: 20px;
}

.bloc_pseudo {
	margin-top: 40px;
	margin-bottom: 40px;
}

.update {
	margin-top: 40px;
}

.bloc_statut {
	margin-top: 40px;
	/*margin-bottom: 40px;*/
}

.bloc_info {
	border: 2px solid black;
	padding: 5px;
}

.badges .row {
	margin-top: 30px;
} 
.badges i {
	font-size: 3.5em;
}

.tests .row {
	margin-top: 30px;
} 

.tests i {
	font-size: 5em;

}

/*pb alignement test*/
.tests .columns {
	/*display: inline-block;
	vertical-align: center;*/
}

/*pb alignement notes*/

.notes i {
	/*padding-top: 5px;*/
}

.notes h3 {
	margin-bottom: 30px;
}


.contenu iframe {
	margin-top: 20px;
}

/*page recherche*/

.list_users {
	margin-top: 10px;
}

/*home page*/

.row .home_bandeau {
	margin-top: 40px;
}

.home_bandeau h1 {
  color: #C91010;
  font-weight: bold;
  margin-bottom: 20px
}

.avatar_home {
	text-align: center;
}

.form_statut_home {
	margin-top: 20px;
}

.home_body h3 {
	margin-bottom: 30px;
	margin-top: 30px;
}



/*flux*/

.statut_home {
	font-size: 1.5em;
	font-style: italic;
}

.pseudo_feed_home {
	font-size: 1.2em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.photo_feed_home {
	text-align: center;
}

/*blog*/

.communaute {
	margin-left: 40px;
}

.communaute h3 {
	text-align: center;
	margin-right: 20px
}

.bloc_blog {
	border: 1px $GrayBord solid;
	width: 282px;

}
.bloc_post {
	margin-left: 10px
}

.bloc_post h4 {
	font-style: italic;
}

.onglet {
	/*border: 1px $GrayBord solid;*/
}

.icone_reseaux {
	font-size: 4em;
	text-align:center;
}

/*page echange*/

.ligne_message {
	margin-top: 20px;
}

.bloc_message {
	background: $lightGray;
	border: 1px $GrayBord solid;
	padding: 10px;
	width: 300px;
}

.formulaire_reponse {
	margin-top: 30px;
}