@import 'foundation-icons';

/*variables scss*/


/*layout*/

/*header*/

.top-bar {
	height: 50px;
}

.iconenav {
	font-size: 1.8em;
	margin-right: 5px;
	}

	/* footer */

footer {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

.samplecontainer {
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
}

.samplecontainer h1 {
  color: #C91010;
  font-weight: bold;
}

/*page profil*/

ul {
	list-style: none;
}

h3 {
	margin-top: 20px;
}

.bloc_pseudo {
	margin-top: 40px;
	margin-bottom: 40px;
}

.info_connexion {
	margin-top: 80px;
	margin-bottom: 0px;
}

.bloc_statut {
	margin-top: 40px;
	margin-bottom: 40px;
}

.bloc_info {
	border: 2px solid black;
	padding: 5px;
}

.badges .row {
	margin-top: 30px;
} 
.badges i {
	font-size: 3.5em;
}

.tests .row {
	margin-top: 30px;
} 

.tests i {
	font-size: 5em;

}

/*pb alignement test*/
.tests .columns {
	/*display: inline-block;
	vertical-align: center;*/
}

/*pb alignement notes*/

.notes i {
	/*padding-top: 5px;*/
}

.notes h3 {
	margin-bottom: 30px;
}


.contenu iframe {
	margin-top: 20px;
}