<footer>
	<div class="row">
		<div class="small-5 small-centered columns">
			<nav class="breadcrumbs">
				<a href="<%=blog_path%>">Blog</a>
				<a href="<%=apropos_path%>">A propos</a>
				<a href="<%=contact_path%>">Contact</a>
				<a href="<%=mentionslegales_path%>">Mentions légales</a>
			</nav>
		</div>
	</div>
</footer>