<header>
  	<nav class="top-bar" data-topbar>

  		<ul class="title-area">
    		<li class="name">
      			<h1><a href="<%=root_path%>">Joue Avec Moi</a></h1>
    		</li>
 		</ul>

		<section class="top-bar-section">
		
			<!-- Right Nav Section -->
			<ul class="right">
			    <li><a href="<%=home_path%>"><i class="fi-home iconenav"></i></a></li>
			    <li><a href="#"><i class="fi-torso iconenav"></i></a></li>
			    <li><a href="#"><i class="fi-magnifying-glass iconenav"></i></a></li>
			    <li><a href="#"><i class="fi-mail iconenav"></i></a></li>
			    <li><a href="#"><i class="fi-graph-pie iconenav"></i></a></li>
			    <li class="has-dropdown">
			        <a href="#"><i class="fi-widget iconenav"></i></a>
			        <ul class="dropdown">
			          <li><a href="#">Paramètres</a></li>
			          <li><a href="#">Déconnexion</a></li>
			        </ul>
			    </li>
			</ul>

	    </section>
	</nav>
</header>