<div class="level_box">
	<div class="pseudo_isu"><%=current_user.name%></div>
	<div class="progress"> 
		<span class="meter" style="width: 30%"></span> 
	</div>
	<div class="level">Niveau 1</div>
</div>
